@keyframes rotate {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}

@keyframes background {
  0% {
    background-color: #27ae60;
  }
  50% {
    background-color: #9b59b6;
  }
  100% {
    background-color: #c0392b;
  }
}

#qrcode img {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	position: relative;
	text-align: center;	
	width: 160px;
}

#alt-qrcode img {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	position: relative;
	text-align: center;	
	width: 160px;
}

#address-error {
	padding: 2em;
}

.clear {
	clear: both;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;	
}

.payment-wrapper {
    max-width: 54em;
    margin-bottom: 2em;
}

.payment-wrapper h3 {
	float: right;
}

.info h2 {
	margin-bottom: 0.1em;
	margin-top: 0;
}

.info p {
	margin-top: 0.1em;
	margin-bottom: 0.7em;
}

.info .powered {
	font-size: 0.8em;
	margin-top: 1.8em;
}

.info .red {
	font-size: 0.8em;
}

.qr-code-wrapper {
	padding: 1em;
}

.qr-code-wrapper p {
	font-size: 0.8em;
	margin-top: 2em;
}

.amount-seperator {
	width: 50px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.address {
	border-style: solid;
	border-width: 1px;
	padding: 0.3em;
	max-width: 31em;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	background-color: #fff;
	text-align: center;
}

.time-wrapper {
	width: 100%;
	height: 5px;
	background: #ddd;
	margin-bottom: 11px;
	margin-top: 14px;
	overflow: hidden;
	position: relative;
	max-width: 30.8em;
	margin-left: auto;
	margin-right: auto;
}

.copy-text {
	display:none;
}

#time-left {
	width: 100%;
	height: 7px;
	background: #666;
	left: 0;
	position: absolute;
	top: 0;
}

#alt-time-left {
	width: 100%;
	height: 7px;
	background: #666;
	left: 0;
	position: absolute;
	top: 0;
}

#altcoin-waiting {
	display: none;
}

.altcoin-waiting {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.no-right{
	padding-right: 0px !important;
}

#alt_status_1, #alt_status_2, #alt_status_3, #alt_status_4, #alt_status_5, #alt_status_6, #alt_status_7{
	display: none;
}

.altcoin-waiting h4 {
  margin-top: 1em;
}

.bnomics-spinner {
  margin: auto;
  width: 60px;
  height: 60px;
  animation: rotate 1.4s infinite ease-in-out, background 1.4s infinite ease-in-out alternate;
}

.content-copy{
  vertical-align: text-bottom;
}

.altcoin {
	width: 100%;
	margin: inherit;
}

.alt-paywrapper{
	max-width: 54em;
}

.alt-paywrapper h3 {
    float: right;
}

.bnomics-paywith-btc {
  border-radius: 10px 0px 0px 10px;
}

.bnomics-paywith-altcoin {
  border-radius: 0px 10px 10px 0px;
}

.bnomics-paywith-option {
  color:#B9B9B9;
  background-color:#F3F3F3;
  border: 1px solid #B9B9B9;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.bnomics-paywith-selected {
  color:#fff;
  background-color:#B9B9B9;
}

.bnomics-altcoin-pane {
	display: none;
	padding-top: 20px;
}

.bnomics-altcoin-pane h4 {
	margin-bottom: 1.5em;
}

.powered {
	font-size: 0.8em;
	margin-top: 1em;
}

.bnomics-altcoin-bg-color{
  padding: 15px 10%;
}

.bnomics-alt-icon{
  width: 100% !important;
  font-size:60px !important;
  margin: 25px 0px !important;
}

@media (max-width: 990px) {
  .info, .qr-code-wrapper, .payment-wrapper h3 {
    float: none;
  }
  .powered {
    display: block;
  }
  .info .powered {
    display: none;
  }
}