#qrcode img {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	position: relative;
	text-align: center;	
}

#address-error {
	padding: 2em;
}

.red {
	color: #FF0000;
}

.clear {
	clear: both;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;	
}

.payment-wrapper {
    max-width: 54em;
    margin-bottom: 2em;
}

.payment-wrapper h3 {
	float: right;
}

.info {
	float: right;
}

.info h2 {
	margin-bottom: 0.3em;
	margin-top: 0;
}

.info p {
	margin-top: 0.5em;
	margin-bottom: 0.7em;
}

.info .powered {
	font-size: 0.6em;
	margin-top: 1.8em;
}

.info .red {
	font-size: 0.8em;
}

.qr-code-wrapper {
	float: left;
	margin: 1.2em;
}

.qr-code-wrapper p {
	font-size: 0.6em;
	margin-top: 2em;
}

.payment-wrapper hr {
	width: 50px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.address {
	border-style: solid;
	border-width: 1px;
	padding: 0.6em;
	max-width: 31em;
	margin-left: auto;
	margin-right: auto;
}

.time-wrapper {
	width: 100%;
	height: 5px;
	background: #ddd;
	margin-bottom: 12px;
	margin-top: 14px;
	overflow: hidden;
	position: relative;
	max-width: 32.4em;
	margin-left: auto;
	margin-right: auto;
}

#time-left {
	width: 100%;
	height: 7px;
	background: #666;
	left: 0;
	position: absolute;
	top: 0;
}